body{
    font-family: 'Poppins', sans-serif;
}
.colormain{
    color: orange;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width2{
    padding-left: 15%;
    padding-right: 15%;
}
.person1{
    width: 40%; 
}
.half-width2 img{
    width: 60%;
}
#focus{
    padding-left: 10px;
    border-left: 8px solid;
    border-image: linear-gradient(#F59660, #F9C261);
    border-image-slice: 2;
}
.flexible-container{
    display: flex;
}
.Link-Button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 0px;
}
#text1{
    text-align: center;
}
.box{
    
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 30px soild;
    
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 50px;
}
#box1{
    background-color: lightgray;
}
#box2{
    background-color: lightsteelblue;
}.third-part{
    display: flex;
}
#box3{
    background-color: lightyellow;
}
.mm2022{
    text-align: center;
}
.third-part{
    display: flex;
}
.size-50{
    width: 50%;
}

.coding-image{
    width: 42%;
    padding-left: 35%;
}
.third-text{
    padding-right: 1%;
}
.side-banner-one{
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-size: 18%;
    background-position: 10%;
}
.half-width-last{
    width: 50%;
    padding-left: 20%;
}
.half-width-last img{
    width: 80%;
    padding: 0%;
}
.fourth-banner{
    background-image: url(images/shapes/shape-1.png);
    background-repeat:no-repeat;
    background-size: 18%;
    background-position: 100%;
}
.last-color{
    color: cyan;
}
footer {
    text-align: center;
    background-color: black;
    color: white;
    height: 100px;
}